@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-pokemon-normal {
    background: rgb(168,168,120);
    background: linear-gradient(120deg, rgba(168,168,120,1) 0%, rgba(126,126,83,1) 100%);
}
.bg-pokemon-fire {
    background: rgb(240,128,48);
    background: linear-gradient(120deg, rgba(240,128,48,1) 0%, rgba(201,97,22,1) 100%);
}
.bg-pokemon-water {
    background: rgb(104,144,240);
    background: linear-gradient(120deg, rgba(104,144,240,1) 0%, rgba(57,96,189,1) 100%);
}
.bg-pokemon-grass {
    background: rgb(120,200,80);
    background: linear-gradient(120deg, rgba(120,200,80,1) 0%, rgba(72,133,41,1) 100%);
}
.bg-pokemon-electric {
    background: rgb(248,208,48);
    background: linear-gradient(120deg, rgba(248,208,48,1) 0%, rgba(199,166,34,1) 100%);
}
.bg-pokemon-ice {
    background: rgb(152,216,216);
    background: linear-gradient(120deg, rgba(152,216,216,1) 0%, rgba(112,180,180,1) 100%);
}
.bg-pokemon-fighting {
    background: rgb(192,48,40);
    background: linear-gradient(120deg, rgba(192,48,40,1) 0%, rgba(136,19,12,1) 100%);
}
.bg-pokemon-poison {
    background: rgb(160,64,160);
    background: linear-gradient(120deg, rgba(160,64,160,1) 0%, rgba(124,46,124,1) 100%);
}
.bg-pokemon-ground {
    background: rgb(224,192,104);
    background: linear-gradient(120deg, rgba(224,192,104,1) 0%, rgba(179,151,76,1) 100%);
}
.bg-pokemon-flying {
    background: rgb(168,144,240);
    background: linear-gradient(120deg, rgba(168,144,240,1) 0%, rgba(126,104,195,1) 100%);
}
.bg-pokemon-psychic {
    background: rgb(248,88,136);
    background: linear-gradient(120deg, rgba(248,88,136,1) 0%, rgba(203,59,102,1) 100%);
}
.bg-pokemon-bug {
    background: rgb(168,184,32);
    background: linear-gradient(120deg, rgba(168,184,32,1) 0%, rgba(136,150,14,1) 100%);
}
.bg-pokemon-rock {
    background: rgb(184,160,56);
    background: linear-gradient(120deg, rgba(184,160,56,1) 0%, rgba(142,121,33,1) 100%);
}
.bg-pokemon-ghost {
    background: rgb(112,88,152);
    background: linear-gradient(120deg, rgba(112,88,152,1) 0%, rgba(77,55,113,1) 100%);
}
.bg-pokemon-dark {
    background: rgb(112,88,72);
    background: linear-gradient(120deg, rgba(112,88,72,1) 0%, rgba(84,62,47,1) 100%);
}
.bg-pokemon-dragon {
    background: rgb(112,56,248);
    background: linear-gradient(120deg, rgba(112,56,248,1) 0%, rgba(85,37,203,1) 100%);
}
.bg-pokemon-steel {
    background: rgb(184,184,208);
    background: linear-gradient(120deg, rgba(184,184,208,1) 0%, rgba(122,122,158,1) 100%);
}
.bg-pokemon-fairy {
    background: rgb(240,182,188);
    background: linear-gradient(120deg, rgba(240,182,188,1) 0%, rgba(187,126,133,1) 100%);
}
